@import 'src/app';

.tile {
    margin-bottom: 100px;
}

.tileImage {
    width: 100vw;
}

.text {
    width: 50vw;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(rgba(255,127,98,1), rgba(255,127,98,.75), rgba(255,127,98,0));
    padding: 10px;
    padding-bottom: 100px;
}

.right {
    position: relative;
    top: -25%;
    left: 25%;
}