@import '../App.scss';

.select {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn, .btn1 {
        color: white;
        padding: 6px 24px;
        margin: 0 25px;
    }

    .btn1 {
        background-color: #EEB868;
        color: white;
        border-radius: 10px;
        border: none;
    }

    .btn:hover {
        background-color: $secondary;
    }
}

.report {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 50px;

    p, input {
        font-size: .75rem;
    }
}

.buffer {
    overflow-y: hidden;
    height: 85vh;
}

.empForm {
    overflow-y: auto;
    height: 90%;
}

.submit {
    display: flex;
    justify-content: flex-end;
    height: 10%;
}  

.label {
    font-weight: bold;
    color: black;
}

.formSection {
    width: calc(50vw - 50px);
    margin-bottom: 10px;
}

.short {
    width: calc(25vw - 50px);
}

.name {
    display: flex;
    justify-content: space-between;
}

.btn, .btn1 {
  height: 100%;
}

.form-control {
  padding: 3px 6px;
}

.submitBtn:hover {
    background-color: $secondary;
    color: white;
}