@import 'src/app';

#table1 {
    display: block;
    
    margin-left: 2rem; 
    margin-right:2rem;
    align-self: center;
    margin-top: 5rem;
}

.content {
    margin: .4rem;
    color: black;
    font-family:  'Nato Serif KR', serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.content p {
    font-size: .9rem;
}

.head {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    color: white;
}

.head h2 {
    font-size: 1.4rem;
    display: inline;
}

.head > p {
    color: white;
    border-radius: 8px;
    padding: 2px;
}

.head h2, .head > p {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: baseline;
}

.date, .type {
    color: $primary;
}

.AwaitingReview {
    background-color: hsla(0, 100%, 50%, 0.65);
}

.Validated {
    background-color: lightgreen;
}

.Mediation {
    background-color: rgba(165, 42, 42, 0.81);
} 

.FormalConsequences {
    background-color: blueviolet;
}

.FinalInvestigativeReportSubmitted {
    background-color: yellow;
}

.Resolved {
    background-color: green;
}

.rows {
    background-color: rgba(69,105,144, 0.8);
    margin: 2rem;
    padding: 0px;
    border-radius: 25px;
    box-shadow: 0px 1px 1px 1px #00000062;
    
}

#table1 button{
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

