@import 'src/app';

.header {
    font-size: 1.25rem;
    margin-bottom: 50px;
}

.header-title {
    display: flex;
    justify-content: center;
    background-color: $primary; 
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.selected {
    color: #E1DFCE;
    text-decoration: underline;
}