@import 'src/app';

#table2 {
    display: block;
    margin-left: 2rem; 
    margin-right:2rem;
    align-self: center;
    margin-top: 100px;
}

.content {
    margin: .4rem;
    color: black;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.content p {
    font-size: .8rem;
}

.head {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
}

.head h2, .head p {
    margin-left: 1rem;
    margin-right: 1rem;
}


.Resolved {
    color: green;
}

.rows {
    height: 10rem;
    width: 20rem;
    margin: 2rem;
    padding: 0px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 1px 1px 1px #00000062;
}

.bystander {
    background-color: $primary;
}

.firstHand {
    background-color: $secondary;
}

#table2 button{
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

