@import 'src/app';

.buttonDiv {
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: $primary;
    color: white; 

    &:hover {
        background-color: $secondary;
    }
}

a:hover {
    text-decoration: none;
}