.dashboard {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 25px 50px;
    margin: 100px;
    
    p {
        font-size: .75rem;
    }
}

.mainDashboard {
    padding: 100px;
}