@import 'src/App';

.header {
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    height: 20vh;
}

.header-title{
    display: flex;
    justify-content: center;
    background-color: $secondary;
    color: $primary;
    width: 100%;
}

h1 {
    width: 90%;
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.link {
    color: black;
    text-decoration: none;
    padding-top: 1rem;
    
}

.link:hover {
    color: #EEB868;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid;
}


.selected {
    color: #EEB868;
    border-bottom: 1px solid;
    font-weight: bold;
}