$primary:  #EEB868;
$secondary: #456990;

.empSelect {
    border-color: $secondary;
    color: $secondary;

    &:hover {
        border-color: $secondary;
        background-color: $secondary;
    }
}